body, html {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

.body {

}

.current_condition {
	grid-column-start: 1;
}

.current_header {
}

.current_icon {
	align-self: center;
}

.dash_icon {
	justify-self: start;
}

.date {
	font-size: 1em;
	margin: 0;
}

.feet {
	align-items: center;
	bottom: 0;
	background-color: #000000;
	color: #ffffff;
	display: flex;
	height: 2em;
	position: absolute;
	width: 100%;
}

.news {
	color:#ffffff;
	height: 1em;
	margin: auto;
}

.ribbon {
	align-items: center;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: auto max-content max-content max-content;
	justify-items: end;
	width: 100%;
}

.ribbon_section {

}

.time {
	justify-self: end;
	text-align: right;
}

.t_suffix {
	font-size: 3em;
}

.t_value {
	font-size: 3em;
	font-weight: bold;
	margin: 0;
}

.weather {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: max-content max-content max-content;
}

.weather_current {
	align-items: center;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: auto max-content max-content;
}
