body, html {
	font-family: Roboto, Arial, Helvetica;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-rows: 20% auto 2em;
	height: 100vh;
}

i {
	font-size: 4em;
}
img {
	max-height:100%;
	max-width:100%;
}

p {
	margin: 0;
}

.body {
	background-color: #ababab;
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: min-content 1fr;
	height: 100%;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 1em;
	overflow: hidden;
}

.c-temp {
	text-size: 1em;
}

.current-condition {
	grid-column-start: 1;
}

.current-header {
}

.current-icon {
	align-self: center;
	padding-left: 0.5ex;
	padding-right: 0.5ex;
}

.current-condition {
	text-align: right;
}

.current-header {
	text-align: right;
}

.dash-icon {
	flex: 1 1 auto;
	height: 100%;
	max-height: 100px;
	padding-left: 2em;
	justify-self: start;
}

.date {
	font-size: 1em;
	margin: 0;
}

.feet {
	align-items: center;
	background-color: #000000;
	color: #ffffff;
	display: flex;
	height: 2em;
	overflow: hidden;
	width: 100%;
}

.image-container {
	align-items: center;
	display: flex;
  	flex-flow: row nowrap;
  	height: 100%;
  	justify-content: center;
  	width: 100%;
}

.news {
	height: 1em;
	margin: auto;
	overflow: hidden;
	width: fit-content;
}

.news-item {
	height: 1em;
	max-height: 1em;
	padding-left: 2ex;
	padding-right: 2ex;
	white-space: nowrap;
	width: fit-content;
}

.ribbon {
	align-items: center;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: auto max-content max-content max-content;
	justify-items: end;
	margin-bottom: 1em;
	max-height: 10em;
	width: 100%;
}

.ribbon-section {

}

.time {
	text-align: right;
	justify-self: end;
	padding-right: 2em;
}

.time-value {
	text-align: center;
}

.twitter-container {
	padding: 1em;
}

.twitter-timeline {
	height: 100% !important;
}

.t-suffix {
	font-size: 3em;
}

.t-value {
	font-size: 3em;
	font-weight: bold;
	margin: 0;
}

.weather {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: max-content max-content max-content;
	margin-right: 5em;
}

.weather-alert {
	align-content: center;
	background-color: #FF0000;
	color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	grid-column-start: span 2;
	justify-content: center;
	margin: 0;
}

.weather-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 1em;
	padding-right: 1em;
}

.weather-current {
	align-items: center;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: auto max-content max-content;
	margin-right: 3em;
}

.wi {
	font-size: 4em;
}

.wc-day {
	font-size: 1.5em;
	text-align: center;
}

.wc-temp {
	font-size: 1em;
	margin-top: 0.5em;
	text-align: center;
}
