body, html {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-rows: 5em auto 2em;
	height: 100vh;
}

img {
	max-height: 100%;
	max-width: 100%;
}

p {
	margin: 0;
}

.body {
	display: grid;
	grid-template-columns: 25% 75%;
	overflow: hidden;
}

.current_condition {
	grid-column-start: 1;
}

.current_header {
}

.current_icon {
	align-self: center;
}

.dash_icon {
	flex: 1 1 auto;
	height: 100%;
	max-height: 50px;
	justify-self: start;
}

.date {
	font-size: 1em;
	margin: 0;
}

.feet {
	align-items: center;
	background-color: #000000;
	color: #ffffff;
	display: flex;
	height: 2em;
	width: 100%;
}

.icon {
	background-image: url("../assets/phi.png");
	background-size: contain;
	max-height: 100%;
}

.news {
	color:#ffffff;
	height: 1em;
	margin: auto;
}

.ribbon {
	align-items: center;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: auto max-content max-content max-content;
	justify-items: end;
	max-height: 10em;
	width: 100%;
}

.ribbon_section {

}

.time {
	justify-self: end;
	text-align: right;
}

.t_suffix {
	font-size: 3em;
}

.t_value {
	font-size: 3em;
	font-weight: bold;
	margin: 0;
}

.weather {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: max-content max-content max-content;
}

.weather_current {
	align-items: center;
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: auto max-content max-content;
}
